[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[tasks.tests]
args = [
  "test",
  # Run everything but 'benches'.
  "--lib",
  "--bins",
  "--tests",
  "--examples",
  "--workspace",
]
command = "cargo"
env = { RUST_MIN_STACK = "33554432" }
workspace = false

[tasks.clippy]
args = ["clippy", "--workspace", "--all-targets", "--", "-D", "warnings"]
command = "cargo"
workspace = false
